node_modules/
.next/
dist/
out/
build/
.turbo/
.env
.env.local
.env.*.local
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db
npm-debug.log*
coverage/
*.tsbuildinfo
next-env.d.ts

# Local Netlify folder
.netlify
# shared/services/src/mls
# shared/hooks
# shared/services/tsconfig.json
# shared/ui/tsconfig.json